html {
    height: 100%;
}
body { 
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8em;
    background-color: #dbffe5;
    background-image: linear-gradient(to bottom, #C2FFD2 0%, #EFEFEF 100%);
    background-attachment: fixed;
}
img { 
    border: 0; 
}
.time { 
    color: #103090; 
}
#peerTimes li {
    padding-left: 4px;
}
.ip {
    display: inline-block;
    width: 170px; 
    margin-right: 12px;
}
.dateTime {
    width: auto;  
}